<% comment = @post.comments.new %>
<div id="comments_form_<%=@post.id%>">
<%= simple_form_for([@post, comment], remote: true ) do | f | %>


      <% if user_signed_in? %>

          <div class='form-inputs'>
            <%= f.input :body, label: false, placeholder: 'Add a comment.',  input_html: { rows: 5 } %>
          </div>


  <div class='form-actions'>
    <%= f.button :submit %>
  </div>
      <% end %>
<% end %>
</div>