<div class="list-group">

  <% @loves.each do |love| %>
    <% if (love.adorable_type == 'Post') %>

      <a href="../posts/<%=love.adorable.id%>" class="list-group-item">
        <h4 class="list-group-item-heading"><%=love.user.name%> wants you</h4>
        <p class="list-group-item-text"><%= "Post Title: " + love.adorable.title%></p>

      </a>

      <% else %>

          <a href="../posts/<%=love.adorable.post_id%>" class="list-group-item">
            <h4 class="list-group-item-heading"><%=love.user.name%> wants you</h4>
            <p class="list-group-item-text"><%"Comment: "+love.adorable.body %></p>

          </a>
          <% end %>


<% end %>
  <a href="../WHO" class="list-group-item">
    <h4 class="list-group-item-heading">성수와 & 요셉이가 그대 <%= current_user.name %>씨를 사랑합니다. </h4>
  </a>
</div>