<p id="notice"><%= notice %></p>


<div class="text-center">
  <% if user_signed_in? %>
      <%= image_tag(current_user.image, size: '50x50', style:'border-radius:3px;vertical-align:top;') if current_user.image %>
  <% end %>
  <h2 class="intro">PHILDATE</h2>
  <p class="des">외모와 스펙으로 사랑을 평가하고 호감이 가는 이시대 <br><b>"지 루 해!" "역 겨 워!"</b></br> 혁신적인 방법으로 스펙 외모 그 외에 모든것으로 부터 자유로운 사랑을 경험하세요!
  <br>오로지 자신의 생각과 철학으로 어필하고 사랑이 이루어지는 PhilDate(Philosophy Date)<br>
  당신의 순결한 그리고 고결한 철학관으로 진정성 있는 만남을 가져가세요!</p>
  <% if user_signed_in? %>
     <%= link_to "글작성", new_post_path, class:'btn btn-default glyphicon glyphicon-pencil' %>
  <% end %>
</div>





<div class="container">
  <h3>그대의 이야기 철학 그리고 사랑</h3>
  <h4><b>오늘의 주제:</b> "당신의 이상적인 배우자 상은 어떻게 되요? 자신의 경험과 철학을 바탕으로 한 진실한 배우자상 이야기 해주세요!"</h4>

  <div class="list-group">

    <% @posts.each do |post| %>

        <a href="posts/<%= post.id %> " class="list-group-item">
          <h4 class="list-group-item-heading"><%=post.title %></h4>
          <p class="list-group-item-text"><%= (post.content.size>80) ? post.content.first(80)+"..." : post.content %></p>
        </a>
        <div class="text-right">
          <p id="like-post-<%= post.id %>">
        <% if user_signed_in? %>
                <% if current_user != post.user %>
                  <%= link_to "love",love_post_path(post),remote:true, data:{confirm:"Are you sure?"} %> |
                <% end %>
          <% if current_user.voted_up_on? post %>

              <%= link_to "liked",like_post_path(post), remote: true %>
          <% else %>
            <%= link_to "like",like_post_path(post), remote: true %>
          <% end %>


        <% else %>
            like
        <% end %>
          <b><%= post.get_likes.size %></b>
          </p>
        </div>

    <% end %>
  </div>
</div>

